<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <!-- Favicon -->
  <link rel="icon" href="<%= favicon %>" type="image/x-icon">

  <!-- SEO Meta Tags -->
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:image" content="<%= image %>">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= image %>">

  <!-- Canonical Link -->
  <link rel="canonical" href="<%= url %>">

  <!-- Font and Icon -->
  <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/style2.css?v=8">
</head>

<body>
  <div class="overlay"></div>
  <div class="centered-text">Try the power of AI</div>
  <div class="button-container">
    <button class="button" onclick="window.location.href='/start';" title="Start exploring the power of AI with NeiroAPP">Start explore</button>
  </div>

  <!-- Footer Links -->
  <div class="footer">
    <a href="<%= twitter %>" target="_blank" class="footer-link" title="Follow us on Twitter">Twitter</a>
    <a href="<%= telegram %>" target="_blank" class="footer-link" title="Follow us on Telegram">Telegram</a>
    <a href="<%= channel %>" target="_blank" class="footer-link" title="Follow us on Channel">Chart</a>
  </div>
</body>

</html>