<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
  <title>
    <%= title %>
  </title>

  <!-- Favicon -->
  <link rel="icon" href="/assets/models/favicon.ico" type="image/x-icon">

  <!-- SEO Meta Tags -->
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:image" content="<%= image %>">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= image %>">

  <!-- Canonical Link -->
  <link rel="canonical" href="<%= url %>">

  <!-- Font and Icon -->
  <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c37f173b57.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/style2.css?v=5">
</head>

<body>
  <div class="overlay"></div>
  <div class="centered-text">Try the power of AI</div>
  <div class="button-container">
    <a href="/start"><button class="button">Start</button></a>
  </div>

  <!-- Footer Links -->
  <div class="footer">
    <!-- Descriptive links for better accessibility and SEO -->
    <a href="https://twitter.com/NeuroChatAI" target="_blank" class="footer-link">Twitter</a>
    <a href="https://telegram.org/NeuroChatAI" target="_blank" class="footer-link">Telegram</a>
    <a href="https://example.com/channel" target="_blank" class="footer-link">Channel</a>
  </div>
</body>

</html>