<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <!-- Favicon -->
  <link rel="icon" href="<%= favicon %>" type="image/x-icon">

  <!-- SEO Meta Tags -->
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:image" content="<%= image %>">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= image %>">

  <!-- Canonical Link -->
  <link rel="canonical" href="<%= url %>">

  <!-- Font and Icon -->
  <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c37f173b57.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=8">
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <p>Loading...</p>
    <div class="progress-bar">
      <div class="progress" id="progress-bar"></div>
    </div>
  </div>

  <div class="centered-text">TRY THE POWER OF AI</div>
  <div class="button-container">
    <div class="block">
      <button class="button" onclick="window.location.href='<%= neurochat %>'">
        <i class="fab fa-telegram-plane" style="font-size: 20px;"></i> NEUROCHAT
      </button>
    </div>
    <div class="block">
      <button class="button" onclick="window.location.href='<%= photo_generations %>'"
        style="margin-block-end: 40px;">
        <i class="fab fa-telegram-plane" style="font-size: 20px;" aria-hidden="true"></i> PHOTO GENERATIONS
      </button>
    </div>
  </div>
</body>

<!-- Footer Links -->
<div class="footer">
  <a href="<%= twitter %>" target="_blank" class="footer-link" title="Follow us on Twitter">Twitter</a>
  <a href="<%= telegram %>" target="_blank" class="footer-link" title="Follow us on Telegram">Telegram</a>
  <a href="<%= channel %>" target="_blank" class="footer-link" title="Follow us on Channel">Chart</a>
</div>

<!-- Three.js Scripts and Scene -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
<script src="/assets/js/main.js?v=2"></script>